Introducing queries

In [ ]:
-- Latihan 1
-- Return all titles from the books table
SELECT title
FROM books;

In [ ]:
-- Select title and author from the books table
SELECT title, author
FROM books;

In [ ]:
-- Select title and author from the books table
SELECT title, author
FROM books;

Writing queries

In [ ]:
-- Latihan 1
-- Select unique authors from the books table
SELECT DISTINCT author
FROM books;

In [ ]:
-- Select unique authors from the books table
SELECT DISTINCT author
FROM books;

In [ ]:
-- Latihan 2
-- Select unique authors from the books table
SELECT DISTINCT author
FROM books;

In [ ]:
-- Latihan 3
-- Save the results of this query as a view called library_authors
CREATE VIEW library_authors AS
SELECT DISTINCT author AS unique_author
FROM books;

In [ ]:
-- Select all columns from library_authors
SELECT *
FROM library_authors;

SQL flavors

In [ ]:
-- Latihan 1
-- Select the first 10 genres from books using PostgreSQL
SELECT genre
FROM books
LIMIT 10;