Practice with COUNT()

In [ ]:
-- Count the number of records in the people table
SELECT COUNT(*) AS count_records
FROM people;

In [ ]:
-- Count the number of birthdates in the people table
SELECT COUNT(birthdate) AS count_birthdate
FROM people;

In [ ]:
-- Count the languages and countries represented in the films table
SELECT COUNT(language) AS count_languages, COUNT(country) AS count_countries
FROM films;

SELECT DISTINCT

In [ ]:
-- Return the unique countries from the films table
SELECT DISTINCT country
FROM films;

In [ ]:
-- Count the distinct countries from the films table
SELECT COUNT(DISTINCT country) AS count_distinct_countries
FROM films;

Debugging errors

In [ ]:
-- Debug this code
SELECT certification
FROM films
LIMIT 5;

In [ ]:
-- Debug this code
SELECT film_id, imdb_score, num_votes
FROM reviews;

In [ ]:
-- Debug this code
SELECT COUNT(birthdate) AS count_birthdays
FROM people;

Formatting

In [ ]:
-- Rewrite this query
SELECT person_id, role
FROM roles
LIMIT 10;