Practice with aggregate functions

In [ ]:
-- Query the sum of film durations
SELECT SUM(duration) AS total_duration
FROM films;

In [ ]:
-- Calculate the average duration of all films
SELECT AVG(duration) AS average_duration
FROM films;

In [ ]:
-- Find the latest release_year
SELECT MAX(release_year) AS latest_year
FROM films;

In [ ]:
-- Find the duration of the shortest film
SELECT MIN(duration) AS shortest_film
FROM films;

Combining aggregate functions with WHERE

In [ ]:
-- Calculate the sum of gross from the year 2000 or later
SELECT SUM(gross) AS total_gross
FROM films
WHERE release_year >= 2000;

In [ ]:
-- Calculate the average gross of films that start with A
SELECT AVG(gross) AS avg_gross_A
FROM films
WHERE title LIKE 'A%';

In [ ]:
-- Calculate the lowest gross film in 1994
SELECT MIN(gross) AS lowest_gross
FROM films
WHERE release_year = 1994;

In [ ]:
-- Calculate the highest gross film released between 2000-2012
SELECT MAX(gross) AS highest_gross
FROM films
WHERE release_year BETWEEN 2000 AND 2012;

Using ROUND()

In [ ]:
-- Round the average number of facebook_likes to one decimal place
SELECT ROUND(AVG(facebook_likes), 1) AS avg_facebook_likes
FROM reviews;

ROUND() with a negative parameter

In [ ]:
-- Calculate the average budget rounded to the thousands
SELECT ROUND(AVG(budget), -3) AS avg_budget_thousands
FROM films;

Aliasing with functions

In [ ]:
-- Calculate the title and duration_hours from films
SELECT title, duration / 60.0 AS duration_hours
FROM films;

In [ ]:
-- Calculate the percentage of people who are no longer alive
SELECT COUNT(deathdate) * 100.0 / COUNT(*) AS percentage_dead
FROM people;

In [ ]:
-- Find the number of decades in the films table
SELECT (MAX(release_year) - MIN(release_year)) / 10.0 AS number_of_decades
FROM films;

Rounding results

In [ ]:
-- Round duration_hours to two decimal places
SELECT title, ROUND(duration / 60.0, 2) AS duration_hours
FROM films;